.container {
  max-width: 1440px;
  background-color: #fff;
  background-repeat: repeat-y;
}

@import url("https://i02.appmifile.com/i18n/fonts/CamphorPro/vf/index.css");
@import url("https://i02.appmifile.com/i18n/fonts/CamphorPro/woff2/index.css");

@font-face {
  font-family: "Xiaomi Brand";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("https://i02.appmifile.com/i18n/fonts/Brand/Brand.woff2")
    format("woff2");
}

body {
  font-family: "Camphor Pro", sans-serif;
}
div {
  list-style: none;
}
.title {
  text-align: center;
  font-size: 7rem;
  font-weight: 800;
  font-family: "Camphor Pro", sans-serif;
  position: relative;
}

.subtitle {
  text-align: center;
  font-size: 3.3rem;
  font-weight: 800;
  font-family: "Camphor Pro", sans-serif;
  position: relative;
  margin-bottom: 1rem;
}

.sub-title {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  font-family: "Camphor Pro", sans-serif;
  position: relative;
  margin-bottom: 1rem;
}

.p-center {
  font-size: 1.9rem;
  text-align: center;
  padding: 20px;
  font-family: "Camphor Pro", sans-serif;
  position: relative;
}

.icons-title {
  font-size: 1.9rem;
  text-align: center;
  font-family: "Camphor Pro", sans-serif;
  position: relative;
  font-weight: 800;
  color: #ffcb05;
  margin-top: 1rem;
}

.icons-text {
  font-size: 1.1rem;
  text-align: center;
  font-family: "Camphor Pro", sans-serif;
  position: relative;
  font-weight: 100;
  color: #fff;
  line-height: 1.2;
  margin-top: 1rem;
}

.title-info {
  text-align: center;
  font-size: 3rem;
  font-weight: 800;
}

.p-info {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 100;
}

.txt-preto {
  color: #000;
}

.txt-branco {
  color: #fff !important;
}

.txt-amarelo {
  color: #ffcb05;
}
.txt-azul {
  color: #4e7ad6;
}

.boxcolor {
  background-color: #91badf;
}

.boxcolor2 {
  background-color: #173e64;
}

.boxcolor-black {
  background-color: #000;
}
.boxcolor3 {
  background-color: #060606;
}

.boxcolor4 {
  background-color: #030304;
}

.boxcolor5 {
  background-color: #284e7a;
}

/***************************grid*************************************/

.grid-xiaomi {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 5rem;
}

/*********************************************************************/

@media (max-width: 920px) {
  .grid-xiaomi {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }

  .title {
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
    font-family: "Camphor Pro", sans-serif;
    position: relative;
  }

  .subtitle {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 800;
    font-family: "Camphor Pro", sans-serif;
    position: relative;
    margin-bottom: 1rem;
  }

  .sub-title {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    font-family: "Camphor Pro", sans-serif;
    position: relative;
    margin-bottom: 1rem;
  }

  .p-center {
    font-size: 1rem;
    text-align: center;
    padding: 20px;
    font-family: "Camphor Pro", sans-serif;
    position: relative;
  }

  .p-center-01 {
    font-size: 1rem;
    text-align: center;
    padding: 20px;
    font-family: "Camphor Pro", sans-serif;
    position: relative;
  }

  .icons-title {
    font-size: 1.9rem;
    text-align: center;
    font-family: "Camphor Pro", sans-serif;
    position: relative;
    font-weight: 800;
    color: #ffcb05;
    margin-top: 1rem;
  }

  .icons-text {
    font-size: 1.1rem;
    text-align: center;
    font-family: "Camphor Pro", sans-serif;
    position: relative;
    font-weight: 300;
    color: #fff;
    line-height: 1.2;
    margin-top: 1rem;
  }

  .title-info {
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
  }

  .p-info {
    text-align: center;
    font-size: 0.8rem;
    font-weight: 100;
  }
}
